In [1]:
import numpy as np
import os
import pandas as pd
import string

In [2]:
path = os.getcwd()

In [3]:
# Getting stop-words to remove from text.......added more words to it after studying data....
extra = ['a','b','c','d', 'e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z', 'must', 'still', 'might', 'mr', 'one','like', 'many', 'say', 'much', 'first', 'want', 'right', 'article', 'anyone', 'nntppostinghost', 'really', 'something', 'since', 'come', 'anything', 'else', 'let', 'see', 'may','giving,' 'good', 'now', 'think', 'use' , 'writes','also', 'can', 'get', 'will', 'never', 'without', 'sure', 'back', 'another', 'etc', 'however', 'just', 'maxaxaxaxaxaxaxaxaxaxaxaxaxaxax', 'know', 'new', 'even', 'make', 'us']    

# This is to remove punctuation marks .......
removables = str.maketrans("","",string.punctuation + '0123456789')

# location where stopwords are stored
stop_words_location = open(path + '/stopwords_english.txt')
text = stop_words_location.read()
text = text.translate(removables)

# Generating list of stopwords......
stopwords = text.split('\n')
stopwords = stopwords + extra

In [4]:
import glob  # For extracting files from a folder in one go....

In [5]:
# This 'folder' contains address of all folder 20_newsgroups.......
folder = path + '/20_newsgroups/*'

# This 'newsgroups' will contain list of all classes or folders in 20_newsgroups folder and SORTED to extract classes..
newsgroups = glob.glob(folder)
newsgroups = sorted(newsgroups)
print('Total number of newsgroups:', len(newsgroups)) # just for clarity...

y = []
tar = 0          # just an iterating variable....

# Making a dataframe of document_path and classes...... later used for train_test_split
dataframe = pd.DataFrame()


# To show the name of predicted class in testing phase.
idx_to_newsclass = {}


# Now extracting documents group by group with their respective class and adding them to dataframe
for newsgroup in newsgroups :
    documents = glob.glob(newsgroup +'/*')
    ls = documents
    dataframe = dataframe.append(ls)
    y += [tar for i in range(len(ls))]
    idx_to_newsclass[tar] = newsgroup.split('/')[-1]
    tar = tar + 1

Total number of newsgroups: 20

In [6]:
dataframe.shape, len(y) # just for clarity.....

((19997, 1), 19997)

In [7]:
# now using train_test_split to divide the dataframe into training and testing part
# Using loop to make sure that training_dataset contains atleast one document from each class....
from sklearn.model_selection import train_test_split
i = 1
while(True):
    training_dataframe, testing_dataframe, y_train, y_test = train_test_split(dataframe, y, random_state = i)
    if len(set(y_train)) == 20:
        break
    i+=1

# just for clarity....
print(i, sorted(set(y_train)))

1 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
training_dataframe.shape, testing_dataframe.shape       # just for clarity

((14997, 1), (5000, 1))

In [9]:
# This extract_total_words function will extract words and their count from each document in dataframe(training one) 
# and add them to total_words dict....

# This is used only for calculating top 5000 words later...

# total_words is a dictionary containing keys as words and values as count of occurances of those words...it is
# universal dictionary for whole training data.....

def extract_total_words(dataframe):  
    total_words = {}
    
#     This list helps in removing lines of headers, footers...
    ignore_words = ['Xref','newsanswers','Path', 'talks', 
                    'newsseicmuedu','spoolmuedu','From','Newsgroups','Subject',
                    'Summary','Keywords','MessageID','Date','Expires','Followup','FollowupTO'
                    'Distribution','Organization','Approved','Supersedes','Lines',
                    'Archivename', 'Version', 'NNTPPostingHost', 'XNewsreader']
    
#     for removing punctuation marks and digits from news article
    removables = str.maketrans("","",string.punctuation + '0123456789')
    for i in range(len(dataframe)) :
#         just for estimating how much time is left...... 
        if i % 1000 == 0 :                       
            print(int(i*100/len(dataframe)), '% completed')
        
#         encoding is changed to avoid errors..... reading file...
        file = open(dataframe.iloc[i,0], encoding="ISO-8859-1")   

        line = file.readline()
#         Now headers are being removed from documents....
        while ':' in line:
            line = file.readline()
            continue
        while line:   
#             Removing stop_words,numbers,useless text
            line = line.translate(removables)    

#             Splitting line in a list of words
            line = line.lower()
            words = line.split()                
            
#             Now adding of words and updating their count in total_words dict....
            for word in words:
                if word not in stopwords:
                    total_words[word] = total_words.get(word, 0) + 1

            line = file.readline()
    print(100, '% completed')
    return total_words

In [10]:
total_words = extract_total_words(training_dataframe) # explained above

0 % completed
6 % completed
13 % completed
20 % completed
26 % completed
33 % completed
40 % completed
46 % completed
53 % completed
60 % completed
66 % completed
73 % completed
80 % completed
86 % completed
93 % completed
100 % completed

In [11]:
len(total_words)       # just for clarity

128906

### Now I have total_words dict which contain count of all words in training_dataframe...and dataset which contains list of all the dictionaries document wise containing words and its count....
### Now I will extract top 5000 words which will become features of my dataset.....

In [14]:
# top_words_count will contain list of all words sorted in descending order of their count values......
top_words_count = sorted([(v,k) for (k,v) in total_words.items()], reverse = True)

In [15]:
# now extracting important 5000 words....
top_words = [v for k,v in top_words_count[0:5000]]

# features of my dataset to be created in next cell...
len(top_words), top_words[:10]

(5000,
 ['people',
  'time',
  'good',
  'way',
  'two',
  'system',
  'god',
  'used',
  'said',
  'go'])

In [16]:
# This function creates actual dataset which contains features as top_words and rows as documents....
def create_dataset(dataframe, top_words) :
    dataset = []
    removables = str.maketrans("","",string.punctuation + '0123456789')
    for i in range(len(dataframe)) :
        if i % 1000 == 0 :                       
            print(int(i*100/len(dataframe)), '% completed')
            
#         encoding is changed to avoid errors..... reading file...
        file = open(dataframe.iloc[i,0], encoding="ISO-8859-1")  

#         Now headers are being removed from documents....
        line = file.readline()
        
#         Now headers are being removed from documents....
        while ':' in line:
            line = file.readline()
            continue
        
        temp = {}
        while line:   
#             Removing punctuation
            line = line.translate(removables)   
            line = line.lower()
        
#             Splitting line in a list of words
            words = line.split()                

#             Now adding top_words and updating their count in respective dictionaries is being performed....
            for word in words:
                if word in top_words:
                    temp[word] = temp.get(word, 0) + 1

            line = file.readline()
            
        dataset.append(temp)

#         Adding dictionary for this document in dataset...
    print('100% completed')
    return dataset

In [17]:
# this is taking 2-3 mins
training_dataset = create_dataset(training_dataframe, top_words)

0 % completed
6 % completed
13 % completed
20 % completed
26 % completed
33 % completed
40 % completed
46 % completed
53 % completed
60 % completed
66 % completed
73 % completed
80 % completed
86 % completed
93 % completed
100% completed

In [18]:
testing_dataset = create_dataset(testing_dataframe, top_words)    # this is taking 2-3 mins

0 % completed
20 % completed
40 % completed
60 % completed
80 % completed
100% completed

In [19]:
type(training_dataset), type(testing_dataset)

(list, list)

In [20]:
# Creating dataframe out of dataset dictionary...
training_dataset = pd.DataFrame(training_dataset, columns = top_words)
testing_dataset = pd.DataFrame(testing_dataset, columns = top_words)
training_dataset.shape, testing_dataset.shape

((14997, 5000), (5000, 5000))

In [21]:
# replacing NaN values by 0......
training_dataset.replace(np.nan,0.0, inplace = True)
testing_dataset.replace(np.nan,0.0, inplace = True)

In [22]:
# just for clarity......
training_dataset.head()

,people,time,good,way,two,system,god,used,said,go,...,punished,providence,pretend,precision,powered,possession,politically,pluto,pirates,personality
0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
# just for clarity.....
testing_dataset.head()

,people,time,good,way,two,system,god,used,said,go,...,punished,providence,pretend,precision,powered,possession,politically,pluto,pirates,personality
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# using Inbuilt Naive Bayes

In [24]:
from sklearn.naive_bayes import MultinomialNB

In [25]:
alg = MultinomialNB()

In [26]:
alg.fit(training_dataset, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [27]:
# My score on training dataset
alg.score(training_dataset, y_train)

0.8339667933586717

In [28]:
alg.score(testing_dataset, y_test)

0.7684

In [29]:
y_predicted = alg.predict(testing_dataset)

In [30]:
from sklearn.metrics import classification_report

In [31]:
print(classification_report(y_test, y_predicted))

              precision    recall  f1-score   support

           0       0.65      0.74      0.69       261
           1       0.66      0.66      0.66       248
           2       0.68      0.71      0.69       253
           3       0.69      0.68      0.68       260
           4       0.74      0.79      0.76       266
           5       0.83      0.77      0.80       265
           6       0.80      0.76      0.78       252
           7       0.76      0.81      0.78       223
           8       0.83      0.92      0.87       293
           9       0.91      0.91      0.91       245
          10       0.93      0.93      0.93       247
          11       0.87      0.88      0.88       248
          12       0.75      0.74      0.74       239
          13       0.88      0.81      0.85       236
          14       0.85      0.86      0.86       238
          15       0.73      0.86      0.79       233
          16       0.69      0.82      0.75       255
          17       0.90      0.82      0.86       258
          18       0.63      0.55      0.59       228
          19       0.55      0.33      0.41       252

    accuracy                           0.77      5000
   macro avg       0.77      0.77      0.76      5000
weighted avg       0.77      0.77      0.76      5000

# my own implementation

In [32]:
# This function returns the array of probabilities of each class...... will be called in fit function....

# y_classes is y_true of training data.....

def classes_prob(y_classes) :
    y_pb = [0 for i in range(len(set(y_classes)))]  
    
    for i in range(len(set(y_classes))) : 
        y_pb[i] = y_classes.count(sorted(list(set(y_classes)))[i]) / len(y_classes)  
    
    return y_pb

In [33]:
# This is a fit function..... It will create a probability table in which there are 20 rows each for one class
# and features are top_words...This dataframe contains probability of a word given that it belongs to some particular class.

# dataset is training_dataset and y_classes is y_true....

def fit(dataset, y_classes) :
    prob_table = pd.DataFrame()
    for ai in sorted(set(y_classes)) :
        ls = np.array([0.0 for i in range(len(dataset.columns))])
        for i in range(len(dataset)) :
            if y_classes[i] == ai :
                ls += np.array(dataset.iloc[i])
        prob_table = prob_table.append([list(ls)], ignore_index=True)
        print(prob_table.shape)
    y_probs = classes_prob(y_classes)
    
    prob_table.columns = dataset.columns
    prob_table += 1
    for i in range(prob_table.shape[0]) :
        prob_of_y_class = y_probs[i]
        for j in range(prob_table.shape[1]) :
            prob_table.iloc[i,j] = prob_table.iloc[i,j] / sum(prob_table.iloc[i])
            prob_table.iloc[i,j] = prob_table.iloc[i,j] / prob_of_y_class 
        
    return prob_table, y_probs

In [34]:
# This is a fit function..... It will create a probability table in which there are 
# 20 rows each for one class
# and features are top_words...This dataframe contains probability of a 
# word given that it belongs to some particular class.

# dataset is training_dataset and y_classes is y_true....

def fit(dataset, y_classes) :
    
    prob_table = np.array([np.array([0.0 for _ in range(5000)]) for _ in range(20)])
    
    for i in range(len(dataset)) :
        prob_table[y_classes[i]] = prob_table[y_classes[i]] + dataset.iloc[i]
    
    y_probs = classes_prob(y_classes)
    
    prob_table = pd.DataFrame(prob_table)
    
    prob_table.columns = dataset.columns
    prob_table += 1
    for i in range(prob_table.shape[0]) :
        print(i*100/prob_table.shape[0], '% completed', end = '\r')
        prob_of_y_class = y_probs[i]
#         print(prob_of_y_class)
        prob_table.iloc[i] = prob_table.iloc[i] / sum(prob_table.iloc[i])
#         print(prob_table.iloc[i])
        prob_table.iloc[i] = np.log(prob_table.iloc[i]) - np.log(prob_of_y_class)
    print('100% completed')
    return prob_table, y_probs

In [35]:
# This predicts the class of each document..based on the prob_table returned from fit function...
def predict(dataset, prob_table, y_probs) :
    y_predicted = []
    for i in range(len(dataset)) :
        print(f'{i*100/len(dataset)}% completed', end = '\r')
        probs = [0.0 for i in range(len(prob_table))]
        num_occur = np.array(dataset.iloc[i])
        for j in range(len(prob_table)) :
            prob = np.array(prob_table.iloc[j])
            probs[j] += sum(list(num_occur*prob)) 
            probs[j] += np.log(y_probs[j])
        y_predicted.append(probs.index(max(probs)))

    print('100% completed')        
    return y_predicted

In [36]:
pb_table, y_pb = fit(training_dataset, y_train)

100% completed

In [37]:
# just for clarity.....
pb_table.head()

,people,time,good,way,two,system,god,used,said,go,...,punished,providence,pretend,precision,powered,possession,politically,pluto,pirates,personality
0,-1.774134,-2.498340,-2.560148,-2.573662,-3.226804,-2.743813,-1.633176,-3.359402,-2.658820,-3.389707,...,-6.311331,-8.257242,-5.692292,-6.465482,-8.257242,-7.158629,-6.870947,-8.257242,-8.257242,-6.177800
1,-3.344829,-3.013471,-2.998204,-3.396122,-3.174483,-2.637497,-5.721522,-3.060724,-4.731123,-3.681301,...,-8.286471,-8.286471,-8.286471,-5.578421,-8.286471,-8.286471,-8.286471,-8.286471,-8.286471,-8.286471
2,-3.024564,-2.784613,-2.726344,-2.999458,-3.317912,-2.564140,-6.003489,-2.853606,-4.011059,-3.700904,...,-7.795248,-7.795248,-7.795248,-7.102101,-7.102101,-7.795248,-7.795248,-7.795248,-6.185810,-7.795248
3,-3.223283,-2.621570,-2.764262,-3.204052,-2.525293,-2.026129,-5.778570,-2.975210,-4.029370,-3.501303,...,-7.858012,-7.858012,-7.858012,-7.858012,-6.248574,-7.858012,-7.858012,-7.858012,-7.858012,-7.858012
4,-3.105250,-2.796366,-2.922929,-3.067863,-2.955189,-1.951068,-5.967451,-2.741931,-3.888010,-3.281874,...,-7.759211,-7.759211,-7.759211,-6.660598,-5.813300,-7.759211,-7.066063,-7.759211,-7.759211,-7.759211

In [38]:
predictions = predict(testing_dataset, pb_table, y_pb)      # This will take approx. 2-3 mins

100% completeded

In [39]:
# just for clarity.....
for pred in predictions[:10]:
    print(idx_to_newsclass[pred])

sci.space
rec.motorcycles
rec.autos
sci.med
comp.graphics
sci.space
talk.politics.mideast
misc.forsale
sci.space
comp.sys.mac.hardware

In [40]:
# To calculate score on my own predictions....
from sklearn.metrics import accuracy_score

In [41]:
accuracy_score(predictions, y_test)

0.7656

In [42]:
from sklearn.metrics import classification_report

In [43]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.64      0.76      0.69       261
           1       0.69      0.67      0.68       248
           2       0.67      0.70      0.68       253
           3       0.69      0.67      0.68       260
           4       0.70      0.79      0.74       266
           5       0.82      0.77      0.80       265
           6       0.80      0.75      0.78       252
           7       0.81      0.77      0.79       223
           8       0.73      0.95      0.82       293
           9       0.92      0.91      0.92       245
          10       0.93      0.93      0.93       247
          11       0.88      0.88      0.88       248
          12       0.75      0.70      0.73       239
          13       0.89      0.79      0.84       236
          14       0.87      0.85      0.86       238
          15       0.75      0.84      0.79       233
          16       0.67      0.83      0.74       255
          17       0.89      0.84      0.87       258
          18       0.67      0.51      0.58       228
          19       0.56      0.35      0.43       252

    accuracy                           0.77      5000
   macro avg       0.77      0.76      0.76      5000
weighted avg       0.77      0.77      0.76      5000

# ----------------------X----------------------------X-------------------------